<div class="service-availability">
  <div class="header">
    <div class="name">{{serviceName}}</div>
    <div class="total-avl">{{totalAvailability | number : '1.3-3'}}% uptime</div>
  </div>

  <div class="chart">
    <div class="stripe ok" *ngFor="let x of availability"></div>
  </div>
</div>
