
.service-availability {
  border-bottom: 1px solid lightgray;
  padding: 15px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.chart {
  .stripe {
    display: inline-block;
    width: 5px;
    height: 20px;
    border-radius: 2px;
    margin: 0 1px;

    &.ok {
      background-color: green;
    }

    &.warning {
      background-color: orange;
    }

    &.danger {
      background-color: red;
    }
  }
}
