:host {
  background-color: #eee;
}

.status-summary {
  padding: 15px;
}

.services-container {
  box-shadow: 0 0 11px 2px rgb(0 0 0 / 63%);
  -webkit-box-shadow: 0 0 11px 2px rgb(0 0 0 / 63%);
  -moz-box-shadow: 0 0 11px 2px rgb(0 0 0 / 63%);

  // TODO: Add media query for smaller screens
  width: 75%;
  margin: 0 auto;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.company-name {
  font-weight: bold;
}

.help-button {
  color: white;
  background-color: purple;
}

@media (min-width:480px) {
  .icons {
    display: none;
  };
}
