<header  class="main-header">
  <div class="company-name">Wallmine</div>
</header>


<div class="services-container">
  <div class="status-summary">
    Current status by service

    <div class="icons">
      is it visible?
      <i>&#10004;</i>
    </div>
  </div>

  <org-service-availability
    [serviceName]="serviceAvailabilities.api.name"
    [totalAvailability]="serviceAvailabilities.api.totalAvailability"
    [availability]="serviceAvailabilities.api.records"
    ></org-service-availability>

  <org-service-availability [serviceName]="serviceAvailabilities.dashboard.name"
    [totalAvailability]="serviceAvailabilities.dashboard.totalAvailability"></org-service-availability>

  <org-service-availability [serviceName]="serviceAvailabilities.landingPage.name" [totalAvailability]="serviceAvailabilities.landingPage.totalAvailability"></org-service-availability>
</div>

<router-outlet></router-outlet>
